@layer utilities {
        .primary-color {
          color: #172e8d;
        }
        .bg-primary-color {
          background-color: #172e8d;
        }

        .secondary-color {
          color: #ffd404;
        }
        .bg-secondary-color {
          background-color: #ffd404;
        }
        .hover\:primary-color:hover {
          color: #172e8d;
        }

        .hover\:secondary-color:hover {
          color: #ffd404;
        }
      }
      .clip-path-blob {
        clip-path: url(#blob);
      }